---
import '../styles/global.css';
const links = ["Начало", "Обяви", "Контакти"];
---


<header>
    <img src="" />
    <ul>
        {links.map(link => <li class="header-link"><a>{link}</a></li>)}
    </ul>
        
</header>